/* Landscape phones and down */

@media (max-width: 480px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 810px) {
  main {
    width: 50rem;
    height: 70rem;
  }

  h1 {
    margin-bottom: 1.6rem;
  }

  .main-left {
    display: none;
  }
  .main-right {
    width: 100%;
  }

  .btn-in,
  .btn-up {
    font-size: 1rem;
  }

  .btn-up--big {
    margin-bottom: 1.6rem;
  }
}

/* Large desktop */
@media (min-width: 1200px) {
}
