/* Large desktop */
@media (max-width: 1500px) {
  main {
    width: 60%;
    height: 85%;
  }
}

/* Large desktop */
@media (max-width: 1200px) {
  main {
    width: 80%;
    height: 90%;
  }

  .main-form {
    margin: 0 6.4rem;
    margin-bottom: auto;
  }

  .img-astrounaut {
    padding: 2.4rem;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 850px) {
  body {
    font-size: 1.4rem;
  }

  main {
    width: 70%;
    height: 80%;
  }

  .main-left {
    display: none;
  }

  .main-right {
    width: 100%;
  }

  .btn-up--big {
    width: 80%;
  }

  .already-member {
    margin-bottom: 2.4rem;
  }

  .btn-in,
  .btn-up {
    font-size: 1rem;
  }
}

/* Landscape phones and down */

@media (max-width: 480px) {
  main {
    width: 95%;
    height: 80%;
    margin: 2.4rem;
  }
}
